body {
	margin-top: 50px;
	margin-bottom: 50x;
  background: linear-gradient(to right, #D6DF23, #00ADEF);
	text-align: center;
    font-family: 'Open Sans', sans-serif;
}

form {
    color: black;
    font-size: 20px;
}

#animalView {
    display: inline;
    

}

.jumbotron {
    background: teal;
}
